<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
    <title>lesvoorbereiding</title>
</head>
<body>
    <div class="decor"> </div>
    <header>
       <%- include('../partials/header'); %> 
    </header>
    <menu>

    </menu>
    <main>

    </main>

<script src="/scripts/index.js"></script>
</body>
</html>